<form class="form-floating mb-3" id="start" action="/main" method="POST">
    <legend>Приветствуем в нашей флеш-игрушке</legend>
    <div class="mb-3">
<div class="row g-2">
  <div class="col-md">
        <option selected>Выбери тему, чтобы поотвечать на вопросики!</option>
    <div class="form-floating mb-3">
      <select name = "themes" class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
        <option value="1">Кино</option>
        <option value="2">Обществознание</option>
        <option value="3">Игра Престолов</option>
      </select>
    </div>
  </div>
</div>
<button name = "next_questions" type="button" class="btn btn-primary btn-lg">Начать игру </button>
</form>

