<form id="Themes_qestion" action="/" method="POST">
  <fieldset>
      <div>Прошлый ответ</div>
    <legend>Вопрос/ответ</legend>
    <p class="mb-3">
      <label for="disabledTextInput" class="form-label">{{this.question}}</label>
        <p>
        {{dataOne.question}}
        </p>
      <input name="answer" type="text" id="disabledTextInput" class="form-control" placeholder=...>
    </div>
    <button id="link" type="submit">NEXT</button>
  </fieldset>
</form>
