#start {
  width: 50%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
  /* display: flex; */
  /* justify-content: center; */
}

#form1 {
  width: 50%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
  /* display: flex; */
  /* justify-content: center; */
}

#link {
  margin-top: 15%;
}

#qests {
  width: 50%;
  display:block;
  justify-content: center center; 
  margin-top: 15%;
}

#butt {
  margin-top: 2%;
}

#qest {
  margin-top: 5%;
}
